.form {
  width: 559px;
  height: 31px;
  display: grid;
  grid-template-columns: 224px auto;
  align-items: center;

  @media (min-width: 370px) and (max-width: 480px) {
    width: 370px;
    grid-template-columns: 150px auto;
  }

  @media (min-width: 480px) and (max-width: 768px) {
    width: 450px;
  }

  @media (min-width: 768px) and (max-width: 1024px) {
    width: 760px;
  }
}

.form_title {
  width: 169px;
  height: 19px;

  font-family: "Arial";
  font-size: 21px;
  line-height: 19px;

  @media (min-width: 370px) and (max-width: 480px) {
    width: 150px;
    font-size: 18px;
  }

  @media (min-width: 480px) and (max-width: 768px) {
    width: 450px;
  }

  @media (min-width: 768px) and (max-width: 1024px) {
    width: 760px;
  }
}

.form_input {
  width: 336px;
  height: 31px;
  border: 1px solid #999999;
  box-sizing: border-box;

  @media (min-width: 370px) and (max-width: 480px) {
    width: 200px;
  }

  @media (min-width: 480px) and (max-width: 768px) {
    width: 450px;
  }

  @media (min-width: 768px) and (max-width: 1024px) {
    width: 760px;
  }
}
